.content {
    width: 100%;
    background-color: #fff;
    margin-left: 0%;
    box-shadow: 0px 0px 5px #000;
    padding: 20px;
    margin-bottom: 0%;
}
.conteudofora {
    background-color: #f0f0;
}

.h12 {
    text-align: center;
}

.dados {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
label {
    margin-right: 20px;
}
input {
    height: 40px;
    width: 10px;
    margin-left: 10px;
}
.rows {
    width: 48%;
}
.width {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.width2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
}

.labelT {
    width: 200px;
}

.hr {
    height: 1px;
    background-color: brown;
    width: 100%;
}
.h2 {
    margin-top: 25px;
    font-size: 1px;
}
.button {
    width: 200px;
    margin-top: 40px;
}